html,body{
background-image: url("../images/login_bg.png");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: "Plus Jakarta Sans", sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.7) !important;
}

.card-body {
	display: flex;
  	justify-content: center;
	width: 100%;
}

.social_icon {
	right: 0 !important;
}

.social_icon span{
font-size: 35px;
margin-left: 10px;
color: #559156;
transition: color 0.2s ease, font-size 0.2s ease;
}

.social_icon span:hover{
font-size: 40px;
color: ivory;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #559156;
color: ivory;
border:0 !important;
}

.input-group-prepend span i{
text-align: center;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
accent-color: #497c4a;
}

.login_btn{
color: ivory;
background-color: #559156;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.card-footer {
	border: none;
	padding-top: 0;
}

.card-footer a {
	color: #ffff80 !important;
}

.links{
color: white;
}